<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/master.css">
  <title>Document</title>
</head>
<body>
  <div class="blog">
  <% for(var i=0;i<data.length; i++) { %>
    <p><%= data[i].posts %></p>
    <h5><%= data[i].date %> by Shameer Khan</h5>
    <%}%>
  </div>
</body>
</html>
